<div class="w-full text-center mt-3">
    <button class="btn btn-google btn-user btn-block">
        <i class="fab fa-google fa-fw"></i><a href="/auth/google" class="text-light">Daftar dengan Google</a>
    </button>
</div>
