<div class="w-full text-center mt-3">
    <button class="btn btn-sm btn-primary">
        <i class="fab fa-google fa-fw"></i><a href="/auth/google" class="text-light">Masuk dengan Google</a>
    </button>
</div>
