<% layout('layouts/app') %>
<section class="intro-single">
    <div class="container">
        <div class="row">
            <h4><%= error.message %></h4>
            <br />
            <% if (error.stack) { %>
            <div>
                <p><%= error.stack %></p>
            </div>
            <% } %>
        </div>
    </div>
</section>
