<% layout('layouts/app') %>
<main id="main">
    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="title-single-box">
                        <h1 class="title-single"><%= campaign.title %></h1>
                        <span class="color-text-a">Infaq</span><br /><br />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Intro Single-->

    <!-- ======= Property Single ======= -->

    <section class="property-single nav-arrow-b">
        <div class="container">
            <br />
            <div class="row">
                <div class="col-sm-12">
                    <div class="row justify-content-between">
                        <div class="col-lg-12 section-md-t3">
                            <div class="row">
                                <div class="col-sm-12 col-lg-6">
                                    <div class="title-box-d">
                                        <h3 class="title-d">Deskripsi Program</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="property-description">
                                <p class="description color-text-a"><%- campaign.description %></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-10 offset-md-1">
                    <ul class="nav nav-pills-a nav-pills mb-3 section-t3" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a
                                class="nav-link active"
                                id="pills-video-tab"
                                data-bs-toggle="pill"
                                href="#poster"
                                role="tab"
                                aria-controls="pills-video"
                                aria-selected="true"
                                >Poster</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                id="pills-plans-tab"
                                data-bs-toggle="pill"
                                href="#pills-plans"
                                role="tab"
                                aria-controls="pills-plans"
                                aria-selected="false"
                                >Dokumentasi</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                id="pills-map-tab"
                                data-bs-toggle="pill"
                                href="#pills-map"
                                role="tab"
                                aria-controls="pills-map"
                                aria-selected="false"
                                >Lokasi</a
                            >
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div
                            class="tab-pane fade show active"
                            id="poster"
                            role="tabpanel"
                            aria-labelledby="pills-video-tab">
                            <% for (const image of campaign.images) { %>
                            <img src="<%= image.url %>" alt="" class="img-fluid" />
                            <% } %>
                        </div>
                        <div class="tab-pane fade" id="pills-plans" role="tabpanel" aria-labelledby="pills-plans-tab">
                            <img src="" alt="" class="img-fluid" />
                        </div>
                        <div class="tab-pane fade" id="pills-map" role="tabpanel" aria-labelledby="pills-map-tab">
                            <iframe
                                src=""
                                width="100%"
                                height="460"
                                frameborder="0"
                                style="border: 0"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Property Single-->
</main>
