 <!-- ======= Footer ======= -->
 <section class="section-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="widget-a">
          <div class="w-header-a">
            <h3 class="w-title-a text-brand">UmmaTI DEV.</h3>
          </div>
          <div class="w-body-a">
            <p class="w-text-a color-text-a">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem sit molestias ut distinctio repudiandae eveniet exercitationem culpa odio harum. Soluta ipsa totam nam, libero rerum earum delectus voluptatibus consequatur magnam? Quis et quaerat facere voluptatum numquam aliquid laudantium perspiciatis dolores!</p>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum, labore perspiciatis laudantium consequatur quas voluptas reiciendis perferendis corporis voluptates ratione. Ut facilis, tempora inventore veniam voluptatum eligendi optio sit nam ratione perferendis exercitationem maxime iusto illum delectus magnam itaque. Harum id tempora at praesentium voluptate, sit quasi corrupti nesciunt molestiae accusamus possimus debitis enim modi labore optio. Eius, ipsa ut? Cum unde consectetur esse fugiat voluptate labore voluptatem, eos amet.</p>
            </p>
          </div>
          <div class="w-footer-a">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav class="nav-footer">
            
          </nav>
          <div class="socials-a">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="">
                  <i class="bi bi-facebook" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="">
                  <i class="bi bi-whatsapp" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="">
                  <i class="bi bi-instagram" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="">
                  <i class="bi bi-youtube" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="copyright-footer">
            <p class="copyright color-text-a">
              &copy; Copyright
              <span class="color-a">Ummati Dev</span> All Rights Reserved.
            </p>
          </div>

        </div>
      </div>
    </div>
</footer>