<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav class="nav-footer">
            
          </nav>
          <div class="socials-a">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="https://www.facebook.com/lazbunyan.izi/">
                  <i class="bi bi-facebook" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://api.whatsapp.com/send?phone=%2B6285282979857&fbclid=IwAR2FDaq5BE4ZgBA4Mj3NtWD3XR-3GLNJpDKEYST29cONifWmLppw3TcZgfQ">
                  <i class="bi bi-whatsapp" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.instagram.com/lazbunyan/">
                  <i class="bi bi-instagram" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.youtube.com/channel/UCkwC2s2p3tRAr6AZplGsEfw">
                  <i class="bi bi-youtube" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="copyright-footer">
            <p class="copyright color-text-a">
              &copy; Copyright
              <span class="color-a">LAZ BUNYAN</span> All Rights Reserved.
            </p>
          </div>

        </div>
      </div>
    </div>
  </footer>