 <!-- ======= Footer ======= -->
 <section class="section-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="widget-a">
          <div class="w-header-a">
            <h3 class="w-title-a text-brand">LAZ BUNYAN</h3>
          </div>
          <div class="w-body-a">
            <p class="w-text-a color-text-a">
              <p>LAZ Bunyan adalah Lembaga Amil Zakat resmi dibawah naungan Yayasan Bunyan Auladia Cemerlang yang berkerja sama dengan LAZNAS IZI (Inisiatif Zakat Indonesia) dengan harapan dapat meningkatkan profesionalitas dan akuntabilitas pengelolaan Zakat, Infaq, Shodaqoh dan Wakaf guna menjaga kepercayaan para donatur.</p>
              <p>LAZ Bunyan didirikan pada tahun 2019, secara hukum lembaga memiliki legalitas resmi yang senantiasa berkhidmat untuk mewadahi dan mengoptimalkan potensi Zakat, Infaq, Shodaqoh dan Wakaf yang kemudian di kelola dan disalurkan dalam berbagai campaign keummatan terutama dalam campaign mencetak ulama pejuang dan hafidz Qur'an  serta solidaritas sosial kemanusiaan.</p>
            </p>
          </div>
          <div class="w-footer-a">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav class="nav-footer">
            
          </nav>
          <div class="socials-a">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="https://www.facebook.com/lazbunyan.izi/">
                  <i class="bi bi-facebook" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://api.whatsapp.com/send?phone=%2B6285282979857&fbclid=IwAR2FDaq5BE4ZgBA4Mj3NtWD3XR-3GLNJpDKEYST29cONifWmLppw3TcZgfQ">
                  <i class="bi bi-whatsapp" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.instagram.com/lazbunyan/">
                  <i class="bi bi-instagram" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.youtube.com/channel/UCkwC2s2p3tRAr6AZplGsEfw">
                  <i class="bi bi-youtube" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="copyright-footer">
            <p class="copyright color-text-a">
              &copy; Copyright
              <span class="color-a">LAZ BUNYAN</span> All Rights Reserved.
            </p>
          </div>

        </div>
      </div>
    </div>
</footer>