<nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
  <div class="container">
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <a class="navbar-brand text-brand" href="/"><img src="/images/web 1.png"></a>

    <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
      <ul class="navbar-nav">

        <li class="nav-item <%= currentPage === '/' ? 'active' : '' %>">
          <a class="nav-link" href="/">Beranda</a>
      </li>
      <li class="nav-item">
          <a class="nav-link <%= currentPage === '/campaigns/index' ? 'active' : '' %>" href="/campaigns/index">Campaign</a>
      </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Donasi
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="zakat-profesi.html">Zakat Profesi</a></li>
            <li><a class="dropdown-item" href="#">Zakat Harta</a></li>
          </ul>
        </li> -->
        <li class="nav-item">
          <a class="nav-link <%= currentPage === '/articles/index' ? 'active' : '' %>" href="/articles/index">Berita</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link " href="blog-grid.html">Reseller Kebaikan</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link <%= currentPage === '/contact' ? 'active' : '' %>" href="/contact">Kontak</a>
        </li>
      </ul>
      
      <ul class="navbar-nav ">
        <% if (!currentUser) { %>
            <li class="nav-item">
                <a class="nav-link bg-login" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link bg-login" href="/register">Register</a>
            </li>
        <% } else { %>
            <li class="nav-item ">
                <a class="nav-link bg-login" href="/logout" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Logout</a>
                <form action="/logout" method="POST" style="display: none" id="logout-form"></form>
            </li>
        <% } %>
    </ul>
    </div>

  </div>
</nav>


  